{% extends "index.html" %}

{% block main %}
<section style="color: rgb(83, 56, 44)">
  <div class="main-order">
    <div class="container">
      <ul class="menu">
        <a href="freeze.html"><li>FREEZE</li></a>
        <a href="nguyenban.html#section2"><li>NGUYÊN BẢN</li></a>
        <a href="dacbiet.html#section3"><li>ĐẶC BIỆT</li></a>
        <a href="caphe.html#section4"><li>CÀ PHÊ</li></a>
        <a href="tra.html#section5"><li>TRÀ</li></a>
        <a href="khac.html#section6"><li>KHÁC</li></a>
      </ul>
    </div>
    <div class="container">
      <div class="coffee-order" id="section4">
        <h1 style="font-size: 22px">CÀ PHÊ</h1>
        <span
          >Sự kết hợp hoàn hảo giữa hạt cà phê Robusta & Arabica thượng hạng
          được trồng trên những vùng cao nguyên Việt Nam màu mỡ, qua những
          bí quyết rang xay độc đáo, Highlands Coffee chúng tôi tự hào giới
          thiệu những dòng sản phẩm Cà phê mang hương vị đậm đà và tinh
          tế.</span
        >
        <div class="slideProduct">
          <div class="conver-slide-button">
            <button>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-caret-left-fill"
                viewBox="0 0 16 16"
                id="prev-4"
                class="nav-btn"
              >
                <path
                  d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"
                />
              </svg>
            </button>
            <button>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-caret-right-fill"
                viewBox="0 0 16 16"
                id="next-4"
                class="nav-btn"
              >
                <path
                  d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                />
              </svg>
            </button>
          </div>
          <div class="product-list">
            <div class="slider-container">
              <div class="slider-wrapper">
                <div class="slider-4">
                  <div class="product">
                    <div class="slide-4">
                      <img
                        src="https://www.highlandscoffee.com.vn/vnt_upload/product/04_2023/New_product/thumbs/270_crop_HLC_New_logo_5.1_Products__CAPPUCINO.jpg"
                        alt=""
                      />
                    </div>
                    <div class="name-price">
                      <center>
                        <h3>LATTE</h3>
                        <p>Giá: <b>49,000 VNĐ</b></p>
                      </center>
                    </div>
                  </div>
                  <div class="product">
                    <div class="slide-4">
                      <img
                        src="https://www.highlandscoffee.com.vn/vnt_upload/product/04_2023/New_product/thumbs/270_crop_HLC_New_logo_5.1_Products__AMERICANO_NONG.jpg"
                        alt=""
                      />
                    </div>
                    <div class="name-price">
                      <center>
                        <h3>CAPPUCCINO</h3>
                        <p>Giá: <b>89,000 VNĐ</b></p>
                      </center>
                    </div>
                  </div>
                  <div class="product">
                    <div class="slide-4">
                      <img
                        src="https://www.highlandscoffee.com.vn/vnt_upload/product/04_2023/New_product/thumbs/270_crop_HLC_New_logo_5.1_Products__CARAMEL_MACCHIATTO.jpg"
                        alt=""
                      />
                    </div>
                    <div class="name-price">
                      <center>
                        <h3>AMERICANO</h3>
                        <p>Giá: <b>89,000 VNĐ</b></p>
                      </center>
                    </div>
                  </div>
                  <div class="product">
                    <div class="slide-4">
                      <img
                        src="https://www.highlandscoffee.com.vn/vnt_upload/product/04_2023/New_product/thumbs/270_crop_HLC_New_logo_5.1_Products__MOCHA.jpg"
                        alt=""
                      />
                    </div>
                    <div class="name-price">
                      <center>
                        <h3>ESPRESSO</h3>
                        <p>Giá: <b>89,000 VNĐ</b></p>
                      </center>
                    </div>
                  </div>
                  <div class="product">
                    <div class="slide-4">
                      <img
                        src="https://www.highlandscoffee.com.vn/vnt_upload/product/04_2023/New_product/thumbs/270_crop_HLC_New_logo_5.1_Products__LATTE_1.jpg"
                        alt=""
                      />
                    </div>
                    <div class="name-price">
                      <center>
                        <h3>CARAMEL PHIN FREEZE</h3>
                        <p>Giá: <b>89,000 VNĐ</b></p>
                      </center>
                    </div>
                  </div>
                  <div class="product">
                    <div class="slide-4">
                      <img
                        src="https://www.highlandscoffee.com.vn/vnt_upload/product/04_2023/New_product/thumbs/270_crop_HLC_New_logo_5.1_Products__AMERICANO_NONG.jpg"
                        alt=""
                      />
                    </div>
                    <div class="name-price">
                      <center>
                        <h3>CLASSIC PHIN FREEZE</h3>
                        <p>Giá: <b>89,000 VNĐ</b></p>
                      </center>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<hr />
{% endblock %}