{% extends "index.html" %}
{% block main %}
<section style="color: rgb(83, 56, 44)">
  <div class="main-order">
    <div class="container">
      <ul class="menu">
        <a href="freeze.html"><li>FREEZE</li></a>
        <a href="nguyenban.html#section2"><li>NGUYÊN BẢN</li></a>
        <a href="dacbiet.html#section3"><li>ĐẶC BIỆT</li></a>
        <a href="caphe.html#section4"><li>CÀ PHÊ</li></a>
        <a href="tra.html#section5"><li>TRÀ</li></a>
        <a href="khac.html#section6"><li>KHÁC</li></a>
      </ul>
    </div>
    <div class="container">
      <div class="coffee-order" id="section2">
        <h1 style="font-size: 22px">MENU NGUYÊN BẢN</h1>
        <div class="slideProduct">
          <div class="conver-slide-button">
            <button>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-caret-left-fill"
                viewBox="0 0 16 16"
                id="prev-2"
                class="nav-btn"
              >
                <path
                  d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"
                />
              </svg>
            </button>
            <button>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-caret-right-fill"
                viewBox="0 0 16 16"
                id="next-2"
                class="nav-btn"
              >
                <path
                  d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                />
              </svg>
            </button>
          </div>
          <div class="product-list">
            <div class="slider-container">
              <div class="slider-wrapper">
                <div class="slider-2">
                  <div class="product">
                    <div class="slide-2">
                      <img
                        src="https://www.highlandscoffee.com.vn/vnt_upload/product/HLCPOSTOFFICE_DRAFT/PNG_FINAL/3_MENU_NGUYEN_BAN/thumbs/270_crop_Chanh_Da_Xay.jpg"
                        alt=""
                      />
                    </div>
                    <div class="name-price">
                      <center>
                        <h3>CHANH ĐÁ VIÊN</h3>
                        <p>Giá: <b>49,000 VNĐ</b></p>
                      </center>
                    </div>
                  </div>
                  <div class="product">
                    <div class="slide-2">
                      <img
                        src="https://www.highlandscoffee.com.vn/vnt_upload/product/HLCPOSTOFFICE_DRAFT/PNG_FINAL/3_MENU_NGUYEN_BAN/thumbs/270_crop_Tra_Thanh_Dao.jpg"
                        alt=""
                      />
                    </div>
                    <div class="name-price">
                      <center>
                        <h3>TRÀ THANH ĐÀO</h3>
                        <p>Giá: <b>89,000 VNĐ</b></p>
                      </center>
                    </div>
                  </div>
                  <div class="product">
                    <div class="slide-2">
                      <img
                        src="https://www.highlandscoffee.com.vn/vnt_upload/product/HLCPOSTOFFICE_DRAFT/PNG_FINAL/3_MENU_NGUYEN_BAN/thumbs/270_crop_Freeze_Caramel.jpg"
                        alt=""
                      />
                    </div>
                    <div class="name-price">
                      <center>
                        <h3>CARAMEL PHIN FREEZE</h3>
                        <p>Giá: <b>89,000 VNĐ</b></p>
                      </center>
                    </div>
                  </div>
                  <div class="product">
                    <div class="slide-2">
                      <img
                        src="https://www.highlandscoffee.com.vn/vnt_upload/product/HLCPOSTOFFICE_DRAFT/PNG_FINAL/3_MENU_NGUYEN_BAN/thumbs/270_crop_Tra_Thach_Dao.jpg"
                        alt=""
                      />
                    </div>
                    <div class="name-price">
                      <center>
                        <h3>TRÀ THẠCH ĐÀO</h3>
                        <p>Giá: <b>89,000 VNĐ</b></p>
                      </center>
                    </div>
                  </div>
                  <div class="product">
                    <div class="slide-2">
                      <img
                        src="https://www.highlandscoffee.com.vn/vnt_upload/product/HLCPOSTOFFICE_DRAFT/PNG_FINAL/3_MENU_NGUYEN_BAN/thumbs/270_crop_KemDi.jpg"
                        alt=""
                      />
                    </div>
                    <div class="name-price">
                      <center>
                        <h3>KEMDI</h3>
                        <p>Giá: <b>89,000 VNĐ</b></p>
                      </center>
                    </div>
                  </div>
                  <div class="product">
                    <div class="slide-2">
                      <img
                        src="https://www.highlandscoffee.com.vn/vnt_upload/product/HLCPOSTOFFICE_DRAFT/PNG_FINAL/3_MENU_NGUYEN_BAN/thumbs/270_crop_Cappuccino.jpg"
                        alt=""
                      />
                    </div>
                    <div class="name-price">
                      <center>
                        <h3>CAPPUCINO</h3>
                        <p>Giá: <b>89,000 VNĐ</b></p>
                      </center>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<hr />
{% endblock %}