{% extends "index.html" %}
{% block main %}
<section id="home">
  <div class="container">
    <div class="topic-container">
      <div class="topic-4">
        <div class="element-4">
          <h1 style="font-size: 32px; font-weight: 600">
            Hơi thở hiện đại trong từng tách cà phê
          </h1>
          <h2 style="font-size: 18px; font-weight: 600">
            Sự khởi đầu của S-Coffee
          </h2>
          <p>
            S-Coffee được thành lập bởi một nhóm coffeeholic - cụm từ đại
            diện cho phần đông những người chọn cà phê là một phần của cuộc
            sống thường nhật.
          </p>
          <p>
            Chúng tôi có mọi thứ mình cần cho một thương hiệu cafe tại Sài
            Gòn. Kiến thức, chuyên môn và một cộng đồng những người trẻ luôn
            tìm kiếm cái mới. Chúng tôi tin rằng đây là thời điểm tốt nhất
            để du nhập một làn sóng cà phê mang lại trải nghiệm dựa trên sự
            phát triển không ngừng của đô thị.
          </p>
          <p>
            S-Coffee tin cà phê là điều giữ cho mọi thứ cân bằng. Trong nhịp
            sống đầy biến chuyển, trải nghiệm luôn là sự kết hợp giữa tận
            hưởng và khám phá. Và không gì tốt hơn việc có một cốc cà phê
            tuyệt vời bên cạnh đồng hành.
          </p>
          <img
            src="https://wegocoffee.com/img/our-story/coffee-illus.png"
            alt=""
            width="384px"
            style="margin-top: 50px"
          />
        </div>
        <div class="element-4-2">
          <img
            src="https://wegocoffee.com/img/our-story/begin.jpg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</section>
<section id="home">
  <div class="container">
    <div class="topic-container">
      <div class="topic-4">
        <div class="element-4">
          <h2 style="font-size: 18px; font-weight: 600">
            3 giá trị tạo nên WeGo
          </h2>
          <h5 style="font-size: 12px; font-weight: 700">TRẢI NGHIỆM</h5>
          <p>
            Chúng tôi tin rằng ngoài hương vị, sự quen thuộc là thứ mọi
            người tìm kiếm trong mỗi cốc cà phê. Đó là độ ổn định về chất
            lượng; độ cân bằng của hương vị; và mùi thơm đặc trưng của từng
            loại hạt.
          </p>
          <h5 style="font-size: 12px; font-weight: 700">THÀNH THỊ</h5>
          <p>
            WeGo theo đuổi việc trở thành một phần của lối sống đô thị.
            Hướng đến sự tiện lợi và linh hoạt, WeGo cung cấp một không gian
            tối ưu hoá cho công việc và những buổi gặp gỡ bạn bè.
          </p>
          <h5 style="font-size: 12px; font-weight: 700">THIẾT KẾ</h5>
          <p>
            Ở WeGo, tiêu chuẩn được chúng tôi đặt lên hàng đầu. Điều đó hiện
            diện trong mọi thứ: từ hình ảnh, sản phẩm cho đến không gian
            quán. Một nét giao thoa giữa sự hiện đại và chủ nghĩa tối giản
            (minimalism).
          </p>
        </div>
        <div class="element-4-2">
          <div></div>
          <img src="https://wegocoffee.com/img/our-story/mix.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
<hr />
{% endblock %}