{% extends "index.html" %}

{% block main %}
<section style="color: rgb(83, 56, 44)">
  <div class="main-order">
    <div class="container">
      <ul class="menu">
        <a href="freeze.html"><li>FREEZE</li></a>
        <a href="nguyenban.html#section2"><li>NGUYÊN BẢN</li></a>
        <a href="dacbiet.html#section3"><li>ĐẶC BIỆT</li></a>
        <a href="caphe.html#section4"><li>CÀ PHÊ</li></a>
        <a href="tra.html#section5"><li>TRÀ</li></a>
        <a href="khac.html#section6"><li>KHÁC</li></a>
      </ul>
    </div>
    <div class="container">
      <div class="coffee-order" id="section5">
        <h1 style="font-size: 22px">TRÀ</h1>
        <span
          >Hương vị tự nhiên, thơm ngon của Trà Việt với phong cách hiện đại
          tại Highlands Coffee sẽ giúp bạn gợi mở vị giác của bản thân và
          tận hưởng một cảm giác thật khoan khoái, tươi mới.</span
        >
        <div class="slideProduct">
          <div class="conver-slide-button">
            <button>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-caret-left-fill"
                viewBox="0 0 16 16"
                id="prev-5"
                class="nav-btn"
              >
                <path
                  d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"
                />
              </svg>
            </button>
            <button>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-caret-right-fill"
                viewBox="0 0 16 16"
                id="next-5"
                class="nav-btn"
              >
                <path
                  d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                />
              </svg>
            </button>
          </div>
          <div class="product-list">
            <div class="slider-container">
              <div class="slider-wrapper">
                <div class="slider-5">
                  <div class="product">
                    <div class="slide-5">
                      <img
                        src="https://www.highlandscoffee.com.vn/vnt_upload/product/06_2023/thumbs/270_crop_HLC_New_logo_5.1_Products__TRA_TACH_VAI.jpg"
                        alt=""
                      />
                    </div>
                    <div class="name-price">
                      <center>
                        <h3>TRÀ THẠCH VẢI</h3>
                        <p>Giá: <b>45,000 VNĐ</b></p>
                        <button type="button" class="add-to-cart" data-product-id="7">Add to Cart</button>
                      </center>
                    </div>
                  </div>
                  <div class="product">
                    <div class="slide-5">
                      <img
                        src="https://www.highlandscoffee.com.vn/vnt_upload/product/06_2023/thumbs/270_crop_HLC_New_logo_5.1_Products__TRA_THANH_DAO-09.jpg"
                        alt=""
                      />
                    </div>
                    <div class="name-price">
                      <center>
                        <h3>TRÀ THẠCH ĐÀO</h3>
                        <p>Giá: <b>45,000 VNĐ</b></p>
                        <button type="button" class="add-to-cart" data-product-id="9">Add to Cart</button>
                      </center>
                    </div>
                  </div>
                  <div class="product">
                    <div class="slide-5">
                      <img
                        src="https://www.highlandscoffee.com.vn/vnt_upload/product/06_2023/thumbs/270_crop_HLC_New_logo_5.1_Products__TRA_THANH_DAO-08.jpg"
                        alt=""
                      />
                    </div>
                    <div class="name-price">
                      <center>
                        <h3>TRÀ THANH ĐÀO</h3>
                        <p>Giá: <b>45,000 VNĐ</b></p>
                        <button type="button" class="add-to-cart" data-product-id="8">Add to Cart</button>
                      </center>
                    </div>
                  </div>
                  <div class="product">
                    <div class="slide-5">
                      <img
                        src="https://www.highlandscoffee.com.vn/vnt_upload/product/11_2023/thumbs/270_crop_3P_COMBO_Tea_Berry.jpg"
                        alt=""
                      />
                    </div>
                    <div class="name-price">
                      <center>
                        <h3>TRÀ QUẢ MỌNG ANH ĐÀO</h3>
                        <p>Giá: <b>45,000 VNĐ</b></p>
                        <button type="button" class="add-to-cart" data-product-id="1">Add to Cart</button>
                      </center>
                    </div>
                  </div>
                  <div class="product">
                    <div class="slide-5">
                      <img
                        src="https://www.highlandscoffee.com.vn/vnt_upload/product/06_2023/thumbs/270_crop_HLC_New_logo_5.1_Products__TRA_SEN_VANG_CU_NANG.jpg"
                        alt=""
                      />
                    </div>
                    <div class="name-price">
                      <center>
                        <h3>TRÀ SEN VÀNG (CỦ NĂNG)</h3>
                        <p>Giá: <b>89,000 VNĐ</b></p>
                        <button type="button" class="add-to-cart" data-product-id="18">Add to Cart</button>
                      </center>
                    </div>
                  </div>
                  <div class="product">
                    <div class="slide-5">
                      <img
                        src="https://www.highlandscoffee.com.vn/vnt_upload/product/06_2023/thumbs/270_crop_HLC_New_logo_5.1_Products__TSV.jpg"
                        alt=""
                      />
                    </div>
                    <div class="name-price">
                      <center>
                        <h3>TRÀ SEN VÀNG (SEN)</h3>
                        <p>Giá: <b>89,000 VNĐ</b></p>
                        <button type="button" class="add-to-cart" data-product-id="19">Add to Cart</button>
                      </center>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<hr />
{% endblock %}