{% extends "index.html" %}

{% block main %}
<section style="color: rgb(83, 56, 44);">
  <div class="main-order">
    <div class="container">
      <ul class="menu">
        <a href="freeze.html"><li>FREEZE</li></a>
        <a href="nguyenban.html#section2"><li>NGUYÊN BẢN</li></a>
        <a href="dacbiet.html#section3"><li>ĐẶC BIỆT</li></a>
        <a href="caphe.html#section4"><li>CÀ PHÊ</li></a>
        <a href="tra.html#section5"><li>TRÀ</li></a>
        <a href="khac.html#section6"><li>KHÁC</li></a>
      </ul>
    </div>
    <div class="container">
      <div class="coffee-order">
        <h1 style="font-size: 45px">FREEZE</h1>
        <span>
          Sảng khoái với thức uống đá xay phong cách Việt. Freeze là thức
          uống đá xay mát lạnh được pha chế từ những nguyên liệu thuần túy
          của Việt Nam.
        </span>
        <div class="slideProduct">
          <div class="conver-slide-button">
            <button>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-caret-left-fill"
                viewBox="0 0 16 16"
                id="prev"
                class="nav-btn"
              >
                <path
                  d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"
                />
              </svg>
            </button>
            <button>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-caret-right-fill"
                viewBox="0 0 16 16"
                id="next"
                class="nav-btn"
              >
                <path
                  d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                />
              </svg>
            </button>
          </div>
          <div class="product-list">
            <div class="slider-container">
              <div class="slider-wrapper">
                <div class="slider">
                  <div class="product">
                    <div class="slide">
                      <img
                        src="https://www.highlandscoffee.com.vn/vnt_upload/product/11_2023/thumbs/270_crop_3P_COMBO_Freeze_Berry.jpg"
                        alt=""
                      />
                    </div>
                    <div class="name-price">
                      <center>
                        <h3>FREEZE QUẢ MỌNG ANH ĐÀO</h3>
                        <p>Giá: <b>89.000 VNĐ</b></p>
                        <button type="button" class="add-to-cart" data-product-id="1">Add to Cart</button>
                      </center>
                    </div>
                  </div>
                  <div class="product">
                    <div class="slide">
                      <img
                        src="https://www.highlandscoffee.com.vn/vnt_upload/product/06_2023/thumbs/270_crop_HLC_New_logo_5.1_Products__FREEZE_TRA_XANH.jpg"
                        alt=""
                      />
                    </div>
                    <div class="name-price">
                      <center>
                        <h3>FREEZE TRÀ XANH</h3>
                        <p>Giá: <b>89.000 VNĐ</b></p>
                        <button type="button" class="add-to-cart" data-product-id="2">Add to Cart</button>
                      </center>
                    </div>
                  </div>
                  <div class="product">
                    <div class="slide">
                      <img
                        src="https://www.highlandscoffee.com.vn/vnt_upload/product/06_2023/thumbs/270_crop_HLC_New_logo_5.1_Products__COOKIES_FREEZE.jpg"
                        alt=""
                      />
                    </div>
                    <div class="name-price">
                      <center>
                        <h3>COOKIES & CREAM</h3>
                        <p>Giá: <b>89.000 VNĐ</b></p>
                        <button type="button" class="add-to-cart" data-product-id="3">Add to Cart</button>
                      </center>
                    </div>
                  </div>
                  <div class="product">
                    <div class="slide">
                      <img
                        src="https://www.highlandscoffee.com.vn/vnt_upload/product/04_2023/New_product/thumbs/270_crop_HLC_New_logo_5.1_Products__FREEZE_CHOCO.jpg"
                        alt=""
                      />
                    </div>
                    <div class="name-price">
                      <center>
                        <h3>FREEZE SÔ-CÔ-LA</h3>
                        <p>Giá: <b>89.000 VNĐ</b></p>
                        <button type="button" class="add-to-cart" data-product-id="4">Add to Cart</button>
                      </center>
                    </div>
                  </div>
                  <div class="product">
                    <div class="slide">
                      <img
                        src="https://www.highlandscoffee.com.vn/vnt_upload/product/06_2023/thumbs/270_crop_HLC_New_logo_5.1_Products__CLASSIC_FREEZE_PHINDI.jpg"
                        alt=""
                      />
                    </div>
                    <div class="name-price">
                      <center>
                        <h3>CARAMEL PHIN FREEZE</h3>
                        <p>Giá: <b>89.000 VNĐ</b></p>
                        <button type="button" class="add-to-cart" data-product-id="5">Add to Cart</button>
                      </center>
                    </div>
                  </div>
                  <div class="product">
                    <div class="slide">
                      <img
                        src="https://www.highlandscoffee.com.vn/vnt_upload/product/06_2023/thumbs/270_crop_HLC_New_logo_5.1_Products__CARAMEL_FREEZE_PHINDI.jpg"
                        alt=""
                      />
                    </div>
                    <div class="name-price">
                      <center>
                        <h3>CLASSIC PHIN FREEZE</h3>
                        <p>Giá: <b>89.000 VNĐ</b></p>
                        <button type="button" class="add-to-cart" data-product-id="6">Add to Cart</button>
                      </center>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            style="
              width: 100%;
              height: 1px;
              background-color: #eeeeee;
              margin-top: 30px;
            "
          ></div>
        </div>
      </div>
      <!-- slider-2 -->
      <div class="coffee-order">
        <h1 style="font-size: 22px">MENU NGUYÊN BẢN</h1>
        <div class="slideProduct">
          <div class="conver-slide-button">
            <button>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-caret-left-fill"
                viewBox="0 0 16 16"
                id="prev-2"
                class="nav-btn"
              >
                <path
                  d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"
                />
              </svg>
            </button>
            <button>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-caret-right-fill"
                viewBox="0 0 16 16"
                id="next-2"
                class="nav-btn"
              >
                <path
                  d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                />
              </svg>
            </button>
          </div>
          <div class="product-list">
            <div class="slider-container">
              <div class="slider-wrapper">
                <div class="slider-2">
                  <div class="product">
                    <div class="slide-2">
                      <img
                        src="https://www.highlandscoffee.com.vn/vnt_upload/product/HLCPOSTOFFICE_DRAFT/PNG_FINAL/3_MENU_NGUYEN_BAN/thumbs/270_crop_Chanh_Da_Xay.jpg"
                        alt=""
                      />
                    </div>
                    <div class="name-price">
                      <center>
                        <h3>CHANH ĐÁ VIÊN</h3>
                        <p>Giá: <b>49.000 VNĐ</b></p>
                        <button type="button" class="add-to-cart" data-product-id="7">Add to Cart</button>
                      </center>
                    </div>
                  </div>
                  <div class="product">
                    <div class="slide-2">
                      <img
                        src="https://www.highlandscoffee.com.vn/vnt_upload/product/HLCPOSTOFFICE_DRAFT/PNG_FINAL/3_MENU_NGUYEN_BAN/thumbs/270_crop_Tra_Thanh_Dao.jpg"
                        alt=""
                      />
                    </div>
                    <div class="name-price">
                      <center>
                        <h3>TRÀ THANH ĐÀO</h3>
                        <p>Giá: <b>89.000 VNĐ</b></p>
                        <button type="button" class="add-to-cart" data-product-id="8">Add to Cart</button>
                      </center>
                    </div>
                  </div>
                  <div class="product">
                    <div class="slide-2">
                      <img
                        src="https://www.highlandscoffee.com.vn/vnt_upload/product/HLCPOSTOFFICE_DRAFT/PNG_FINAL/3_MENU_NGUYEN_BAN/thumbs/270_crop_Freeze_Caramel.jpg"
                        alt=""
                      />
                    </div>
                    <div class="name-price">
                      <center>
                        <h3>CARAMEL PHIN FREEZE</h3>
                        <p>Giá: <b>89.000 VNĐ</b></p>
                        <button type="button" class="add-to-cart" data-product-id="5">Add to Cart</button>
                      </center>
                    </div>
                  </div>
                  <div class="product">
                    <div class="slide-2">
                      <img
                        src="https://www.highlandscoffee.com.vn/vnt_upload/product/HLCPOSTOFFICE_DRAFT/PNG_FINAL/3_MENU_NGUYEN_BAN/thumbs/270_crop_Tra_Thach_Dao.jpg"
                        alt=""
                      />
                    </div>
                    <div class="name-price">
                      <center>
                        <h3>TRÀ THẠCH ĐÀO</h3>
                        <p>Giá: <b>89.000 VNĐ</b></p>
                        <button type="button" class="add-to-cart" data-product-id="9">Add to Cart</button>
                      </center>
                    </div>
                  </div>
                  <div class="product">
                    <div class="slide-2">
                      <img
                        src="https://www.highlandscoffee.com.vn/vnt_upload/product/HLCPOSTOFFICE_DRAFT/PNG_FINAL/3_MENU_NGUYEN_BAN/thumbs/270_crop_KemDi.jpg"
                        alt=""
                      />
                    </div>
                    <div class="name-price">
                      <center>
                        <h3>KEMDI</h3>
                        <p>Giá: <b>89.000 VNĐ</b></p>
                        <button type="button" class="add-to-cart" data-product-id="10">Add to Cart</button>
                      </center>
                    </div>
                  </div>
                  <div class="product">
                    <div class="slide-2">
                      <img
                        src="https://www.highlandscoffee.com.vn/vnt_upload/product/HLCPOSTOFFICE_DRAFT/PNG_FINAL/3_MENU_NGUYEN_BAN/thumbs/270_crop_Cappuccino.jpg"
                        alt=""
                      />
                    </div>
                    <div class="name-price">
                      <center>
                        <h3>CAPPUCINO</h3>
                        <p>Giá: <b>89.000 VNĐ</b></p>
                        <button type="button" class="add-to-cart" data-product-id="11">Add to Cart</button>
                      </center>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- slider-3 -->
      <div class="coffee-order">
        <h1 style="font-size: 22px">DÒNG CÀ PHÊ ĐẶC BIỆT</h1>
        <div class="slideProduct">
          <div class="conver-slide-button">
            <button>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-caret-left-fill"
                viewBox="0 0 16 16"
                id="prev-3"
                class="nav-btn"
              >
                <path
                  d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"
                />
              </svg>
            </button>
            <button>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-caret-right-fill"
                viewBox="0 0 16 16"
                id="next-3"
                class="nav-btn"
              >
                <path
                  d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                />
              </svg>
            </button>
          </div>
          <div class="product-list">
            <div class="slider-container">
              <div class="slider-wrapper">
                <div class="slider-3">
                  <div class="product">
                    <div class="slide-3">
                      <img
                        src="https://www.highlandscoffee.com.vn/vnt_upload/product/HLCPOSTOFFICE_DRAFT/PNG_FINAL/3_MENU_NGUYEN_BAN/thumbs/270_crop_Phin_Sua_Da.jpg"
                        alt=""
                      />
                    </div>
                    <div class="name-price">
                      <center>
                        <h3>PHIN CULI ĐEN ĐÁ</h3>
                        <p>Giá: <b>49.000 VNĐ</b></p>
                        <button type="button" class="add-to-cart" data-product-id="12">Add to Cart</button>
                      </center>
                    </div>
                  </div>
                  <div class="product">
                    <div class="slide-3">
                      <img
                        src="https://www.highlandscoffee.com.vn/vnt_upload/product/HLCPOSTOFFICE_DRAFT/PNG_FINAL/3_MENU_NGUYEN_BAN/thumbs/270_crop_Phin_Den_Da.jpg"
                        alt=""
                      />
                    </div>
                    <div class="name-price">
                      <center>
                        <h3>CITRUS COFFEE DETONIC</h3>
                        <p>Giá: <b>89.000 VNĐ</b></p>
                        <button type="button" class="add-to-cart" data-product-id="13">Add to Cart</button>
                      </center>
                    </div>
                  </div>
                  <div class="product">
                    <div class="slide-3">
                      <img
                        src="https://www.highlandscoffee.com.vn/vnt_upload/product/HLCPOSTOFFICE_DRAFT/PNG_FINAL/1_SPECIALTY_COFFEE/thumbs/270_crop_Citrus_Cafe_De_Tonic.jpg"
                        alt=""
                      />
                    </div>
                    <div class="name-price">
                      <center>
                        <h3>COLD BREW MILK FOAM</h3>
                        <p>Giá: <b>89.000 VNĐ</b></p>
                        <button type="button" class="add-to-cart" data-product-id="14">Add to Cart</button>
                      </center>
                    </div>
                  </div>
                  <div class="product">
                    <div class="slide-3">
                      <img
                        src="https://www.highlandscoffee.com.vn/vnt_upload/product/HLCPOSTOFFICE_DRAFT/PNG_FINAL/1_SPECIALTY_COFFEE/thumbs/270_crop_Cold_Brew_Milk_Foam.jpg"
                        alt=""
                      />
                    </div>
                    <div class="name-price">
                      <center>
                        <h3>FREEZE SÔ-CÔ-LA</h3>
                        <p>Giá: <b>89.000 VNĐ</b></p>
                        <button type="button" class="add-to-cart" data-product-id="4">Add to Cart</button>
                      </center>
                    </div>
                  </div>
                  <div class="product">
                    <div class="slide-3">
                      <img
                        src="https://www.highlandscoffee.com.vn/vnt_upload/product/HLCPOSTOFFICE_DRAFT/PNG_FINAL/1_SPECIALTY_COFFEE/thumbs/270_crop_Cold_Brew.jpg"
                        alt=""
                      />
                    </div>
                    <div class="name-price">
                      <center>
                        <h3>CARAMEL PHIN FREEZE</h3>
                        <p>Giá: <b>89.000 VNĐ</b></p>
                        <button type="button" class="add-to-cart" data-product-id="5">Add to Cart</button>
                      </center>
                    </div>
                  </div>
                  <div class="product">
                    <div class="slide-3">
                      <img
                        src="https://www.highlandscoffee.com.vn/vnt_upload/product/HLCPOSTOFFICE_DRAFT/PNG_FINAL/1_SPECIALTY_COFFEE/thumbs/270_crop_PhinDi_Cassia.jpg"
                        alt=""
                      />
                    </div>
                    <div class="name-price">
                      <center>
                        <h3>CLASSIC PHIN FREEZE</h3>
                        <p>Giá: <b>89.000 VNĐ</b></p>
                        <button type="button" class="add-to-cart" data-product-id="6">Add to Cart</button>
                      </center>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- slider-4 -->
      <div class="coffee-order">
        <h1 style="font-size: 22px">CÀ PHÊ</h1>
        <span
          >Sự kết hợp hoàn hảo giữa hạt cà phê Robusta & Arabica thượng hạng
          được trồng trên những vùng cao nguyên Việt Nam màu mỡ, qua những
          bí quyết rang xay độc đáo, Highlands Coffee chúng tôi tự hào giới
          thiệu những dòng sản phẩm Cà phê mang hương vị đậm đà và tinh
          tế.</span
        >
        <div class="slideProduct">
          <div class="conver-slide-button">
            <button>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-caret-left-fill"
                viewBox="0 0 16 16"
                id="prev-4"
                class="nav-btn"
              >
                <path
                  d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"
                />
              </svg>
            </button>
            <button>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-caret-right-fill"
                viewBox="0 0 16 16"
                id="next-4"
                class="nav-btn"
              >
                <path
                  d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                />
              </svg>
            </button>
          </div>
          <div class="product-list">
            <div class="slider-container">
              <div class="slider-wrapper">
                <div class="slider-4">
                  <div class="product">
                    <div class="slide-4">
                      <img
                        src="https://www.highlandscoffee.com.vn/vnt_upload/product/04_2023/New_product/thumbs/270_crop_HLC_New_logo_5.1_Products__CAPPUCINO.jpg"
                        alt=""
                      />
                    </div>
                    <div class="name-price">
                      <center>
                        <h3>LATTE</h3>
                        <p>Giá: <b>49.000 VNĐ</b></p>
                        <button type="button" class="add-to-cart" data-product-id="15">Add to Cart</button>
                      </center>
                    </div>
                  </div>
                  <div class="product">
                    <div class="slide-4">
                      <img
                        src="https://www.highlandscoffee.com.vn/vnt_upload/product/04_2023/New_product/thumbs/270_crop_HLC_New_logo_5.1_Products__AMERICANO_NONG.jpg"
                        alt=""
                      />
                    </div>
                    <div class="name-price">
                      <center>
                        <h3>CAPPUCCINO</h3>
                        <p>Giá: <b>89.000 VNĐ</b></p>
                        <button type="button" class="add-to-cart" data-product-id="11">Add to Cart</button>
                      </center>
                    </div>
                  </div>
                  <div class="product">
                    <div class="slide-4">
                      <img
                        src="https://www.highlandscoffee.com.vn/vnt_upload/product/04_2023/New_product/thumbs/270_crop_HLC_New_logo_5.1_Products__CARAMEL_MACCHIATTO.jpg"
                        alt=""
                      />
                    </div>
                    <div class="name-price">
                      <center>
                        <h3>AMERICANO</h3>
                        <p>Giá: <b>89.000 VNĐ</b></p>
                        <button type="button" class="add-to-cart" data-product-id="16">Add to Cart</button>
                      </center>
                    </div>
                  </div>
                  <div class="product">
                    <div class="slide-4">
                      <img
                        src="https://www.highlandscoffee.com.vn/vnt_upload/product/04_2023/New_product/thumbs/270_crop_HLC_New_logo_5.1_Products__MOCHA.jpg"
                        alt=""
                      />
                    </div>
                    <div class="name-price">
                      <center>
                        <h3>ESPRESSO</h3>
                        <p>Giá: <b>89.000 VNĐ</b></p>
                        <button type="button" class="add-to-cart" data-product-id="17">Add to Cart</button>
                      </center>
                    </div>
                  </div>
                  <div class="product">
                    <div class="slide-4">
                      <img
                        src="https://www.highlandscoffee.com.vn/vnt_upload/product/04_2023/New_product/thumbs/270_crop_HLC_New_logo_5.1_Products__LATTE_1.jpg"
                        alt=""
                      />
                    </div>
                    <div class="name-price">
                      <center>
                        <h3>CARAMEL PHIN FREEZE</h3>
                        <p>Giá: <b>89.000 VNĐ</b></p>
                        <button type="button" class="add-to-cart" data-product-id="5">Add to Cart</button>
                      </center>
                    </div>
                  </div>
                  <div class="product">
                    <div class="slide-4">
                      <img
                        src="https://www.highlandscoffee.com.vn/vnt_upload/product/04_2023/New_product/thumbs/270_crop_HLC_New_logo_5.1_Products__AMERICANO_NONG.jpg"
                        alt=""
                      />
                    </div>
                    <div class="name-price">
                      <center>
                        <h3>CLASSIC PHIN FREEZE</h3>
                        <button type="button" class="add-to-cart" data-product-id="6">Add to Cart</button>
                        <p>Giá: <b>89.000 VNĐ</b></p>
                      </center>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- slider-5 -->
      <div class="coffee-order">
        <h1 style="font-size: 22px">TRÀ</h1>
        <span
          >Hương vị tự nhiên, thơm ngon của Trà Việt với phong cách hiện đại
          tại Highlands Coffee sẽ giúp bạn gợi mở vị giác của bản thân và
          tận hưởng một cảm giác thật khoan khoái, tươi mới.</span
        >
        <div class="slideProduct">
          <div class="conver-slide-button">
            <button>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-caret-left-fill"
                viewBox="0 0 16 16"
                id="prev-5"
                class="nav-btn"
              >
                <path
                  d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"
                />
              </svg>
            </button>
            <button>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-caret-right-fill"
                viewBox="0 0 16 16"
                id="next-5"
                class="nav-btn"
              >
                <path
                  d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                />
              </svg>
            </button>
          </div>
          <div class="product-list">
            <div class="slider-container">
              <div class="slider-wrapper">
                <div class="slider-5">
                  <div class="product">
                    <div class="slide-5">
                      <img
                        src="https://www.highlandscoffee.com.vn/vnt_upload/product/06_2023/thumbs/270_crop_HLC_New_logo_5.1_Products__TRA_TACH_VAI.jpg"
                        alt=""
                      />
                    </div>
                    <div class="name-price">
                      <center>
                        <h3>TRÀ THẠCH VẢI</h3>
                        <p>Giá: <b>45.000 VNĐ</b></p>
                        <button type="button" class="add-to-cart" data-product-id="7">Add to Cart</button>
                      </center>
                    </div>
                  </div>
                  <div class="product">
                    <div class="slide-5">
                      <img
                        src="https://www.highlandscoffee.com.vn/vnt_upload/product/06_2023/thumbs/270_crop_HLC_New_logo_5.1_Products__TRA_THANH_DAO-09.jpg"
                        alt=""
                      />
                    </div>
                    <div class="name-price">
                      <center>
                        <h3>TRÀ THẠCH ĐÀO</h3>
                        <p>Giá: <b>45.000 VNĐ</b></p>
                        <button type="button" class="add-to-cart" data-product-id="9">Add to Cart</button>
                      </center>
                    </div>
                  </div>
                  <div class="product">
                    <div class="slide-5">
                      <img
                        src="https://www.highlandscoffee.com.vn/vnt_upload/product/06_2023/thumbs/270_crop_HLC_New_logo_5.1_Products__TRA_THANH_DAO-08.jpg"
                        alt=""
                      />
                    </div>
                    <div class="name-price">
                      <center>
                        <h3>TRÀ THANH ĐÀO</h3>
                        <p>Giá: <b>45.000 VNĐ</b></p>
                        <button type="button" class="add-to-cart" data-product-id="8">Add to Cart</button>
                      </center>
                    </div>
                  </div>
                  <div class="product">
                    <div class="slide-5">
                      <img
                        src="https://www.highlandscoffee.com.vn/vnt_upload/product/11_2023/thumbs/270_crop_3P_COMBO_Tea_Berry.jpg"
                        alt=""
                      />
                    </div>
                    <div class="name-price">
                      <center>
                        <h3>TRÀ QUẢ MỌNG ANH ĐÀO</h3>
                        <p>Giá: <b>45.000 VNĐ</b></p>
                        <button type="button" class="add-to-cart" data-product-id="1">Add to Cart</button>
                      </center>
                    </div>
                  </div>
                  <div class="product">
                    <div class="slide-5">
                      <img
                        src="https://www.highlandscoffee.com.vn/vnt_upload/product/06_2023/thumbs/270_crop_HLC_New_logo_5.1_Products__TRA_SEN_VANG_CU_NANG.jpg"
                        alt=""
                      />
                    </div>
                    <div class="name-price">
                      <center>
                        <h3>TRÀ SEN VÀNG (CỦ NĂNG)</h3>
                        <p>Giá: <b>89.000 VNĐ</b></p>
                        <button type="button" class="add-to-cart" data-product-id="18">Add to Cart</button>
                      </center>
                    </div>
                  </div>
                  <div class="product">
                    <div class="slide-5">
                      <img
                        src="https://www.highlandscoffee.com.vn/vnt_upload/product/06_2023/thumbs/270_crop_HLC_New_logo_5.1_Products__TSV.jpg"
                        alt=""
                      />
                    </div>
                    <div class="name-price">
                      <center>
                        <h3>TRÀ SEN VÀNG (SEN)</h3>
                        <p>Giá: <b>89.000 VNĐ</b></p>
                        <button type="button" class="add-to-cart" data-product-id="19">Add to Cart</button>
                      </center>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- slider-6 -->
      <div class="coffee-order">
        <h1 style="font-size: 22px">KHÁC</h1>
        <span
          >Sẽ càng ngon miệng hơn khi bạn kết hợp đồ uống với những chiếc
          bánh ngọt thơm ngon được làm thủ công hàng ngày ngay tại bếp bánh
          của Highlands Coffee, và cũng đừng quên sắm cho mình bộ bí kíp pha
          cà phê tại nhà gồm Phin inox, ly sứ Mosaic và cà phê gói Truyền
          thống mỗi khi có thời gian rảnh rỗi nhé.</span
        >
        <div class="slideProduct">
          <div class="conver-slide-button">
            <button>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-caret-left-fill"
                viewBox="0 0 16 16"
                id="prev-6"
                class="nav-btn"
              >
                <path
                  d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"
                />
              </svg>
            </button>
            <button>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-caret-right-fill"
                viewBox="0 0 16 16"
                id="next-6"
                class="nav-btn"
              >
                <path
                  d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                />
              </svg>
            </button>
          </div>
          <div class="product-list">
            <div class="slider-container">
              <div class="slider-wrapper">
                <div class="slider-6">
                  <div class="product">
                    <div class="slide-6">
                      <img
                        src="https://www.highlandscoffee.com.vn/vnt_upload/product/06_2023/thumbs/270_crop_HLC_New_logo_5.1_Products__R_G_SANH_DIEU2.jpg"
                        alt=""
                      />
                    </div>
                    <div class="name-price">
                      <center>
                        <h3>TRUYỀN THỐNG 200GR</h3>
                        <p>Giá: <b>45.000 VNĐ</b></p>
                        <button type="button" class="add-to-cart" data-product-id="20">Add to Cart</button>
                      </center>
                    </div>
                  </div>
                  <div class="product">
                    <div class="slide-6">
                      <img
                        src="https://www.highlandscoffee.com.vn/vnt_upload/product/06_2023/thumbs/270_crop_HLC_New_logo_5.1_Products__R_G_SANH_DIEU.jpg"
                        alt=""
                      />
                    </div>
                    <div class="name-price">
                      <center>
                        <h3>SÀNH ĐIỆU 200GR</h3>
                        <p>Giá: <b>45.000 VNĐ</b></p>
                        <button type="button" class="add-to-cart" data-product-id="21">Add to Cart</button>
                      </center>
                    </div>
                  </div>
                  <div class="product">
                    <div class="slide-6">
                      <img
                        src="https://www.highlandscoffee.com.vn/vnt_upload/product/06_2023/thumbs/270_crop_HLC_New_logo_5.1_Products__R_G_MOKA.jpg"
                        alt=""
                      />
                    </div>
                    <div class="name-price">
                      <center>
                        <h3>MOKA 200GR</h3>
                        <p>Giá: <b>45.000 VNĐ</b></p>
                        <button type="button" class="add-to-cart" data-product-id="22">Add to Cart</button>
                      </center>
                    </div>
                  </div>
                  <div class="product">
                    <div class="slide-6">
                      <img
                        src="https://www.highlandscoffee.com.vn/vnt_upload/product/06_2023/HLC_New_logo_5.1_Products__3IN1_BOX.jpg"
                        alt=""
                      />
                    </div>
                    <div class="name-price">
                      <center>
                        <h3>TRUYỀN THỐNG 1KG</h3>
                        <p>Giá: <b>45.000 VNĐ</b></p>
                        <button type="button" class="add-to-cart" data-product-id="23">Add to Cart</button>
                      </center>
                    </div>
                  </div>
                  <div class="product">
                    <div class="slide-6">
                      <img
                        src="https://www.highlandscoffee.com.vn/vnt_upload/product/06_2023/thumbs/270_crop_HLC_New_logo_5.1_Products__3IN1_PLASTIC.jpg"
                        alt=""
                      />
                    </div>
                    <div class="name-price">
                      <center>
                        <h3>CÀ PHÊ HÒA TAN 3 TRONG 1 (50 GÓI)</h3>
                        <p>Giá: <b>89.000 VNĐ</b></p>
                        <button type="button" class="add-to-cart" data-product-id="24">Add to Cart</button>
                      </center>
                    </div>
                  </div>
                  <div class="product">
                    <div class="slide-6">
                      <img
                        src="https://www.highlandscoffee.com.vn/vnt_upload/product/06_2023/thumbs/270_crop_HLC_New_logo_5.1_Products__NEW_CAN_CFD_INTERNATIONAL_185ml.jpg"
                        alt=""
                      />
                    </div>
                    <div class="name-price">
                      <center>
                        <h3>CÀ PHÊ ĐEN LON 185ML/ LON (LỐC 6 LON)</h3>
                        <p>Giá: <b>89.000 VNĐ</b></p>
                        <button type="button" class="add-to-cart" data-product-id="25">Add to Cart</button>
                      </center>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<hr>
{% endblock %}
